
    /*------------------------------------------ HEADER -----------------------------------------*/

    .diag {
        background-color: #34ADFF;
        background-image: -webkit-linear-gradient(120deg, rgb(234, 234, 234) 60%, rgb(78, 78, 78) 35%);
        min-height: 95px;
    }

    .header-icon {
        float: left;
    }

    .header-icon-1 {
        float: left;
        padding: 14px;
    }
.headline {
    font-size:24px;
}
    .top-btn {
        float: right;
        margin-top: 20px;
        font-weight: bold !important;
        font-style: italic !important;
        width: 218px;
    }

    .subheader {
        text-align: right;
        letter-spacing: 1px;
    }

.page-width{
    max-width:1100px !important;
    width:100%;
}
    /*------------------------------------------ HERO -----------------------------------------*/


    .top-section {
        height: 828px;
        padding-top: 40px;
        text-align: center;
    }

    .header-text {
        padding-top: 74px;
    }

    .one {
        font-size: 58px;
    }

    .two {
        font-size: 62px;
    }

    .three {
        font-size: 68px;
    }

    .four {
        font-size: 104px;
    }

    /* SECTION1 */

    .top-box {
        background-color: #4d4d4d;
        height: 250px;
        position: relative;
        padding: 64px 0 0 0;
        margin: auto;
        text-align: center;
    }

    .points-section {
        padding: 45px 0;
        margin: auto;
        max-width: 1280px;
        background-color: #4d4d4d;
        position: relative;
    }
    .points-container {
        margin-left:60px !important;text-align:center;font-weight:400;
    }
.top{
    width:205px;
    font-style:italic;
}

.tophero {

    background-image: url('./image/tophero.png');
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    position: relative;
    height: 736px;
}
    /*------------------------------------------ SECTION2 -----------------------------------------*/

    .bgImgCenter3 {

        background-image: url('./image/tennisgirl.png');

        background-repeat: no-repeat;
        max-width: 100%;
        background-position: center center;

        /* Background image doesn't tile */
        background-repeat: no-repeat;

        position: relative;
        background-size: cover;
        height: 850px;
    }

    .tennis-div {
        height: 850px;
        position: relative;
    }

    .selling-point-container {
        margin-top:80px !important;
        margin: auto;
        max-width: 650px;
    }
    .point:last-of-type{
        text-align:left;
    }

    .selling-point h2 {
        font-size: 22px;
        margin:0;
    }
    /* .selling-point{
        padding-top: 8px;
    } */
    .selling-point p {
        font-size: 22px;
        line-height: 22px;
        margin:0;
    }
    .tennis {
        display: none;
    }
.resp-p{
    padding-bottom:3em !important;
}
    .selling-point-header-sub {
        font-size: 69px;
        font-style: italic;
    }


    .selling-point-header {
        font-size: 64px;
        line-height:60px;
        font-style: italic;
    }

    .selling-point-subheader {
        color: white;
        font-size: 22px;
        padding-top:12px;
        padding-bottom:44px;
        font-weight:100;
        
    }

    /*------------------------------------------ SECTION3 -----------------------------------------*/

    .bgImgCenter2 {

        background-image: url('./image/weightlift.png')  no-repeat center center fixed;

        background-repeat: no-repeat;
        max-width: 100%;
        background-position: center center;

        /* Background image doesn't tile */
        background-repeat: no-repeat;

        position: relative;
        background-size: cover;
        height: 1025px;
    }

    .weight-div {
        height: 1025px
    }
    .overlay-text{
        text-align:center;
        padding-top:20px;
    }

    .something-semantic {
        display: table;
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
        max-width: 1280px;
        margin: auto;
        padding: 60px 100px;
    }

    .something-else-semantic {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
.sub {
    padding-bottom:30px;
}
    /*------------------------------------------ SECTION4 -----------------------------------------*/

    .stats-sections {
        height: 200px;
        background-color: #4d4d4d;
    }

    .stat-container {
        text-align: center;
        padding: 36px 0;
    }

    .stat-btn {
        height: 50px;
        width:200px;
        margin-left: 5rem;
        margin-top: 1.5em;
        padding-top: 15px;
        font-weight:500 !important;;
        font-style:italic;
    }

    /*------------------------------------------ SECTION5 -----------------------------------------*/

    .bgImgCenter5 {
        height: 730px;
        background-image: url('./image/snow-boarder.png');

        background-repeat: no-repeat;
        max-width: 100%;
        background-position: center center;

        /* Background image doesn't tile */
        background-repeat: no-repeat;

        position: relative;
        background-size: cover;
    }


    .yellow-content h1 {
        color: #005596;
        font-size: 58px;
        font-weight:600;
    }

    .yellow-content span {
        font-size: 28px;
    }

    .yellow-title-m {
        display: initial;
        font-style:italic;
    }

    .yellow-title {
        display: none;
        font-style:italic;
    }
.yellow-sub {
    font-family: roboto;
    font-weight: 500;
    padding:40px 0 20px;
    font-size:28px;
    letter-spacing: -1px;
    margin:0;
}
    .yellow-content h1 {
        margin-bottom: 60px;
    }

    .yellow-content span {
        margin-bottom: 60px;
    }

    .yellow-container {
        height: 730px
    }

    .yellow-content {
        max-width: 764px;
        margin-left: 18%;
        padding-top: 173px;
    }

    .nsf {
        position: absolute;
    right: 70px;
    bottom: 0;

    }

    /*------------------------------------------ SECTION6 -----------------------------------------*/
    
    .bgImgCenter6 {

        background-image: url('./image/drinks.png');

        background-repeat: no-repeat;
        max-width: 100%;
        background-position: center center;

        /* Background image doesn't tile */
        background-repeat: no-repeat;

        position: relative;
        background-size: cover;
        height: 720px;
    }

    .something-semantic1 {
        display: table;
        max-width: 1280px;
        margin: auto;
        position: relative;
        top: 200px;
        padding: 100px 260px;

    }

    .overlay-text {
        font-size: 64px;
        font-weight:400;
    }

    .overlay-sub {
        font-size: 75px;
    }


    /*------------------------------------------ SECTION7 -----------------------------------------*/

    .bottom-div-container {
        height: 500px;
        background-color:#4d4d4d;
        padding: 60px 0;
    }

    /*  */

    /*  */

    /*------------------------------------------ GENERIC -----------------------------------------*/

    .point {
        font-size: 29px;
    }

    .offer {
        line-height: 32px;
    }

    .hide-gt-sm {
        display: none;
    }

    .overlay {
        padding: 90px 270px;
    }

    .row {
        margin: 0;
    }

    .container-fluid {
        padding: 0 !important;
    }

    .width {
        max-width: 1280px;
    }

    .oswald-i {
        font-family: 'Oswald', sans-serif !important;
        font-style: italic !important;
    }

    .oswald {
        font-family: 'Oswald', sans-serif !important;
    }

    .roboto {
        font-family: 'Roboto', sans-serif !important;
    }

    .bold {
        font-weight: bold;
    }

    .roboto-i {
        font-family: 'Roboto', sans-serif !important;
        font-style: italic !important;
    }

    .something-semantic {
        display: table;
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
        max-width: 1280px;
        margin: auto;
        margin-top:15%;
        padding: 60px 100px;
    }

    .bgImgCenter2 h1 {
        font-size: 64px;
    }

    .bgImgCenter2 p {
        color: white;
        font-size: 26px;
        padding-top: 40px;
        font-weight:300;

    }

    .something-semantic1 {
        display: table;
        max-width: 1280px;
        margin: auto;
        position: relative;
        top: 260px;
        padding: 100px 260px 0 260px;

    }

    .svg-sub {
        font-size: 14px;
        padding-top: 50px;
    }

    .bgImgCenter {
        background-image: url('./image/image.png');
        max-width: 100%;
        background-position: center center;

        /* Background image doesn't tile */
        background-repeat: no-repeat;

        position: relative;
        background-size: cover;
    }

.header-text h1{
    margin:0;
    line-height:1;
    letter-spacing: 1px;
    font-weight:400;

}
    .btn {
        background: #f9e814;
        background-image: -webkit-linear-gradient(top, #fefe3f, #ede235);
        background-image: -moz-linear-gradient(top, #fefe3f, #ede235);
        background-image: -ms-linear-gradient(top, #fefe3f, #ede235);
        background-image: -o-linear-gradient(top, #fefe3f, #ede235);
        background-image: linear-gradient(to bottom, #fefe3f, #ede235);
        -webkit-border-radius: 6;
        -moz-border-radius: 6;
        border-radius: 4px;
        font-weight: normal;
        /* font-style: italic; */
        font-family: Oswald;
        text-transform: uppercase;
        /* font-style: italic; */
        color: #333333;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }

    .tinted-image {
        background: /* top, transparent red, faked with gradient */
        linear-gradient( rgba(60, 60, 60, 0.45),
        rgba(60, 60, 60, 0.45)),

        /* bottom, image */
        url('./image/crowd.png');
        background-position: center center;
        max-width: 100%;
        /* Background image doesn't tile */
        /* background-attachment: fixed; */
        position: relative;
        background-size: cover;

    }

    .bgImgCenter1 {
        background-image: url('./image/Rectangle17.png');
        background-repeat: no-repeat;
        max-width: 100%;
        background-position: center center;

        /* Background image doesn't tile */
        background-repeat: no-repeat;

        position: relative;
        background-size: cover;
    }

    .bottom-div-container {
        height: 500px;
        padding: 60px 0;
    }

    .omax-recov-d {
        padding-bottom: 80px;
        font-size: 51px !important;
        font-weight:500;
        display: initial;
    }

    .bgImgCenter2 {

        background-image: url('./image/weightlift.png');

        background-repeat: no-repeat;
        max-width: 100%;
        background-position: center center;

        /* Background image doesn't tile */
        background-repeat: no-repeat;

        position: relative;
        background-size: cover;
        height: 1025px;
    }

    .img-s {
        top: -125%;
        left:20%;
        position: absolute;
    }

    .white {
        color: white;
    }

    .line-item {
        padding-bottom: 1.25rem!important;
        padding-top: 1.25rem!important;
    }

    .bgImgCenter4 {

        background-image: url('./image/runningskele.png');

        background-repeat: no-repeat;
        max-width: 100%;
        background-position: center center;

        /* Background image doesn't tile */
        background-repeat: no-repeat;

        position: relative;
        background-size: cover;
    }

    .subheader {
        text-align: right;
        padding:4px 0;
        font-weight:100;
        font-size:16px;
    }

    .container {
        text-align: center;
        margin: auto;
        max-width: 1280px;
        position: relative;
    }
    .width {
        max-width: 1135px !important;
    }
    .box {
        position: absolute;
        float: left;
    }

    .idk {
        z-index: 9999;
    }

    .bottomright {
        position: absolute;
        bottom: 8px;
        right: 16px;
        font-size: 18px;
    }

    .yellow {
        color: #f9e814;
    }

    .offer {
        padding: 12px 32px;
        font-size: 28px;
        line-height: 16px;
    }

    .btm {
        width: 180px;
        font-weight:bold;
        font-style:italic;
        margin-top: 24px;
    }

    .shipping {
        font-family: Montserrat;
        font-size: 12px;
        font-weight:100;
    }

    @media only screen and (max-width: 1280px) {
        .something-semantic {
            top: 10%;
            left: 0%;
            margin: auto;
            padding: 16px;
        }
        .img-s {
            position: absolute;
            bottom: -19px;
            top: unset;
        }

        .something-semantic1 {
            top: 11%;
            left: 0%;
            margin: auto;
        }
        .res-p{
            padding-bottom:1em !important;
        }
        .selling-point{
            padding-left:24px;
        }
        .tophero {

            background-image: url('./image/tophero.png');
            background-position: center center;
            background-repeat: no-repeat;
            /* background-attachment: fixed; */
            background-size: cover;
            position: relative;
            height: 736px;
        }

        .img-m {
            position: absolute;
            top: -80px;
            left: 18px;
        }
        .line-item-1 {
            padding-bottom: 1rem!important;
            padding-top: 1rem!important;
        }
        .bgImgCenter2 p {
            font-size: 16px;
        }
        .yellow-content h1 {
            font-size: 58px;
        }
        .selling-point h2 {
            font-size: 20px;
        }
        .point {
            font-size: 24px;
        }
        .top-box {
            height: 300px;
        }
        .yellow-content {
            margin-left: 5%;
        }
        .omax-recov-m {
            font-size: 60px;
            display: initial;
        }
        .omax-recov-d {

            display: none;
        }
        .selling-point-header {
            font-size: 46px;
        }
        .selling-point-container {
            margin: unset;
        }
        .selling-point-header-sub {
            font-size: 50px;
        }
        .selling-point p {
            font-size: 20px;
        }
        .bottom-div-container {
            height: 750px;
            padding: 12px 0;
        }
        .something-semantic1 {
            display: table;
            max-width: 1280px;
            margin: auto;
            position: relative;
            top: 200px;
            padding: 50px 130px;
        }

    }

    @media only screen and (max-width: 768px) {
        .something-semantic {
            top: 10%;
            left: 0%;
            margin: auto;
            padding: 16px;
        }
        .img-s {
            position: absolute;
            bottom: -1009px;
            top: unset;
        }

        .something-semantic1 {
            top: 11%;
            left: 0%;
            margin: auto;
        }

        .tophero {

            background-image: url('./image/tophero.png');
            background-position: center center;
            background-repeat: no-repeat;
            /* background-attachment: fixed; */
            background-size: cover;
            position: relative;
            height: 736px;
        }

        .img-m {
            position: absolute;
            top: -80px;
            left: 18px;
        }
        .bgImgCenter2 p {
            font-size: 16px;
        }
        .yellow-content h1 {
            font-size: 58px;
        }
        .selling-point h2 {
            font-size: 20px;
        }
        .point {
            font-size: 24px;
        }
        .top-box {
            height: 300px;
        }
        .yellow-content {
            margin-left: 5%;
        }
        .omax-recov-m {
            font-size: 24px;
            display: initial;
        }
        .omax-recov-d {

            display: none;
        }
        .selling-point-header {
            font-size: 46px;
        }
        .selling-point-container {
            margin: unset;
        }
        .selling-point-header-sub {
            font-size: 50px;
        }
        .selling-point p {
            font-size: 20px;
        }
        .bottom-div-container {
            height: 440px;
            padding: 12px 0;
        }
        .something-semantic1 {
            display: table;
            max-width: 1280px;
            margin: auto;
            position: relative;
            top: 200px;
            padding: 50px 130px;
        }

    }
    @media only screen and (max-width: 480px) {
        .headline {
            display: none;
        }
        .top-section {
            padding: 0;
        }
        .tennis {
            display: initial;
        }
        .weight-div {
            position: absolute;
            height: 390px;
            top: 20%;
        }
        .bgImgCenter2 {
            height: 660px
        }
        .top {
            width: 300px;
        }
        .svg {
            width: 45px;
        }
        .svg-sub {
            font-size: 14px;
        }
        .yellow-content h1 {
            font-size: 30px
        }
        .yellow-content span {
            font-size: 12px;
        }
        .box-pic{
            padding-top:24px;
        }
        .badge {
            display: none
        }
        .res-p{
            padding-bottom:1em !important;
        }
        .bgImgCenter3 {
            height:560px;
            background-image: none;
            background-color: black;
            background-repeat: no-repeat;
            max-width: 100%;
            background-position: center center;

            /* Background image doesn't tile */
            background-repeat: no-repeat;

            position: relative;
            background-size: cover;
        }
        .selling-point-header-sub {
            font-size: 32px;
            text-align: center;
        }
        .selling-point-subheader {
            text-align: center;
            font-size: 11px;
            padding:0 24px 20px 24px;
            margin:0;
        }
        .selling-point-header {
            font-size: 30px;
            line-height: 30px;
            text-align: center;
            margin:0;
        }
        .selling-point-container {
            max-width: 650px;
            padding:0 !important;
            position: absolute
        }
        .one {
            font-size: 20px;
        }
        .two {
            font-size: 22px;
        }
        .three {
            font-size: 24px;
        }
        .four {
            font-size: 36px;
            font-weight:500;
        }
        .bottom-div {
            max-width: 1280px;
            position: relative;
            padding: 50px 0;
            margin: auto;
            text-align: center;
        }

        .something-semantic {
            height: 395px;
            padding: 16px;
        }
        .something-semantic1 {
            /* top: 34%;
            left: 18%; */
            padding: 0;
            position: relative;
        }
        .offer {
            line-height: 14px;
        }
        .header-icon {
            float: left;
            width: 12%;
            padding-top: 5px;
        }
        .header-icon-1 {
            float: left;
            padding: 6px;
            width: 31%;
        }

        .tophero {

            height: 240px;
            background-position: center center;
            background-repeat: no-repeat;
            /* background-attachment: fixed; */
            background-size: 195% auto;
            position: relative;
        }

        .bgImgCenter2 {

            background-image: url('./image/weight.png');

            background-repeat: no-repeat;
            max-width: 100%;
            background-position: center center;
            height:705px;
            /* Background image doesn't tile */
            background-repeat: no-repeat;

            position: relative;
            background-size: cover;
        }

        .top-box {
            height: 166px;
        }

        .stats-sections {
            height: 818px;
        }
        h1.py-3 {
            font-size: 14px;
        }
        .selling-point-container {
            top: 21%;
        }
        .header-text {
            padding-top: 20px;
        }
        .selling-point h2 {
            font-size: 13px;
            padding-bottom:4px;
        }
        .selling-point {
            padding-top: 4px;
        }
        .selling-point p {
            font-size: 12px;
            line-height: 12px;
        }

        .perf-box {
            width: 50%;
        }
        .img-s {
            width: 70%;
            right: 0;
            top: -100%;
        }
        .stats-svg {
            width: 60px;
        }
        .stat-btn {
            height: 60px;
            margin-left: 0;
            padding-top:15px;
            margin-top: 2em;
            font-weight:bolder;
            font-style:italic;
        }
        .stats-sections {
            height: 340px;
        }
        .omax-recov-m {
            font-size: 28px;
            display: none;
        }

        .stat-container {
            text-align: center;
            padding: 36px 0;
            width: 200px;
            margin: auto
        }

        .icon {
            width: 60px;
            padding: 8px;
        }
        .black-arrow {
            width: 22px;
        }
        .arrow {
            display: none;
        }

        .tennis-div {
            height: 600px;
        }
        .diag {
            background-color: #34ADFF;
            background-image: -webkit-linear-gradient(150deg, rgb(234, 234, 234) 42%, rgb(78, 78, 78) 40%);
            min-height: 50px;
            padding: 4px 0;
        }
        .bgImgCenter2 h1 {
            font-size: 30px;
        }
        .bgImgCenter2 p {
            font-size: 10px;
            padding: 0 12px;
        }
        .bgImgCenter5 {
            height: 420px;
        }
        .bgImgCenter6 {
            height: 274px;
        }

        .yellow-container {
            height: 300px
        }
        .yellow-title-m {
            display: none;
        }
        .yellow-content {
            max-width: 260px;
            margin-left: 5%;
            margin-top: 0;
            padding: 24px 0 0 0;
        }
        .yellow-title {
            color: #005596;
            padding-top: 16px;
            display: initial;
            text-align: center;
            margin: auto;
            font-size: 28px;
            font-family: Roboto;
            font-weight:500;
            font-style: italic;
        }
        .yellow-sub{
            font-family: roboto;
            font-weight: 500;
            padding: 0;
            font-size: 16px;
            letter-spacing: 0;
            margin: 0;
        }
        .something-semantic1 {
            top: 120px;
            padding:30px 10px;
            margin: auto;
        }
        .nsf {
            position: absolute;
            bottom: 40px;
            right: 5%;
            width: 50px;
        }
        .line-item {
            padding-bottom: 1.25rem!important;
            padding-top: 1.25rem!important;
        }
        .line-item-1 {
            padding-bottom: 1rem!important;
            padding-top: 1rem!important;
        }
        .img-s {
            display: none !important;
        }
        .hide-sm {
            display: none;
        }
        .subheader {
            text-align: center;
        }
        .img-m {
            display: initial;
            left:0;
        }
        .hide-gt-sm {
            display: initial;
        }
        .points-section {
            padding: 20px 0;
            margin: auto;
            max-width: 1280px;
            background-color: #4d4d4d
            position: relative;
        }
        .top {
            margin: 30px auto;
            width:178px;
        }
        .overlay-text {
            font-size: 28px;
        }
        .overlay-sub {
            font-size: 33px;
        }
.offer{
    font-size:20px;
}
        .point {
            font-size: 16px;
            text-align:center !important;
        }
        .bottom-div {
            padding: 12px 0;
        }
        .top-btn {
            float: right;
            margin: 0px 8px;
            width: 90px;
            font-size: 10px;
            padding-top:10px;
        }
        .points-container {
            margin:auto !important;
        }
    }